
@media screen and (max-width : 480px) {
   .content{
        width:100%;
    }
   .scrollBar {
        overflow-x: scroll;
        display: flex;
        white-space: nowrap;
    }
   .text-left{
        text-align:left;
    }
   .margin-bottom-10{
       margin-bottom:10px;
   }
   .margin-left-0{
       margin-left: 0px !important;
   }
   .form-inline .form-group{
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
   .margin-left-4{
       margin-left:4px;
   }
   .margin-left{
       margin-left:4px;
   }
   .margin-top-15{
       margin-top:15px;
       margin-bottom: -15px;
   }
   
}

/*Small devices (landscape phones, 481px and up) col-xs-12*/
@media  screen and (min-width : 481px) and (max-width : 767px) {
    .content{
        width:100%;
    }
    .stockMargin-top{
        margin-top:15px;
    }

    .form-inline .form-group{
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .scrollBar {
        overflow-x: scroll;
        display: flex;
        white-space: nowrap;
    }
    .text-left{
        text-align:left;
    }
    .group-inline-flex-none{
        display:none;
    }
    .margin-left-4{
       margin-left:4px;
    }
    .margin-top-15{
       margin-top:15px;
       margin-bottom: -15px;
   }

}
/* Small Devices, Tablets col-sm-12*/
@media  screen and (min-width : 768px) and (max-width: 991px) {
    .scrollBar {
        overflow-x: scroll;
        display: flex;
        white-space: nowrap;
    }
     .text-left{
        text-align:left;
    }
     .margin-bottom-10{
       margin-bottom:10px;
   }
   .margin-left-4{
       margin-left:4px;
   }
   .margin-top-15{
       margin-top:15px;
       margin-bottom: -15px;
   }

}

/* Medium Devices, Desktops col-md-12    and (max-width: 1199px)*/
@media screen and (min-width : 992px) {
   .text-left{
        text-align:left;
    }
   .margin-left-4{
       margin-left:4px;
   }
   .margin-top-15{
       margin-top:15px;
       margin-bottom: -15px;
   }
   
}

