body { }

.section2 { padding-top: 20px; }

.update-history { padding: 10px 0; }

.v-horizontal { border-top: 2px solid # UpSertOptInvoice; }

.v-history { }

.v-title { padding: 12px 10px; }

.v-table { border: 5px solid #dff0d8 !important; }